#pongCanvas {
    background: #000;
    display: block;
    margin: 0 auto;
}

.settings {
    padding-top: 20px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.score {
    padding-top: 20px;
    display: block;
    margin: 0 auto;
    text-align: center;    
}
